.flexbox {
  display: flex;
  flex-basis: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.username {
  font-size: 2em;
  text-align: center;
  margin-block-start: 0;
}
