.profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}

.profile-desp > span {
  font-weight: bold;
}
button {
  margin-right: 10px;
}
